:root {
    --app-white: #F8FFE5;
    --app-green: #06D6A0;
    --app-blue: #1B9AAA;
    --app-pink: #EF476F;
    --app-yellow: #FFC43D;
    --app-grey: #343434;

    --font-size-one: 3.052rem;
    --font-size-two: 2.441rem;
    --font-size-three: 1.953rem;
    --font-size-four: 1.563rem;
    --font-size-five: 1.25rem;
    --font-size-six: 1rem;
    --font-size-seven: 0.8rem;
    --font-size-eight: 0.64rem;
    --font-size-nine: 0.512rem;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    background-color: var(--app-white);
}

.fullscreen {
    height: 100vh;
}

@media only screen and (max-width: 1300px) {
    .fullscreen > .container {
        margin: 0;
    }
}

@media only screen and (min-width: 1300px) {
    .fullscreen > .container {
        margin: 0 2.3rem;
    }
}

.fullscreen > .container {
    padding: 0;
    max-width: 100rem;
}

h1 {
    font-size: var(--font-size-one);
}

h2 {
    font-size: var(--font-size-two);
}

h3 {
    font-size: var(--font-size-three);
}

h4 {
    font-size: var(--font-size-four);
}

h5 {
    font-size: var(--font-size-five);
}

h6 {
    font-size: var(--font-size-six);
}